<div class="container">
  <div class = "row">
    <div class = "one column"></div>
    <div class = "eleven columns" id="subtitle">
      <h3>Five top conversion rates:</h3>
    </div>
  </div>
  <div class = "row">
    <div class = "one column"></div>
    <div class = "eleven columns" id="table">
      <table class="u-full-width">
        <thead>
          <th></th>
          <th>USD</th>
          <th>EUR</th>
          <th>GBP</th>
          <th>INR</th>
          <th>CAD</th>
        </thead>
        <tbody>
          <tr *ngFor = "let index_currency of chosen_currencies">
              <td class="index-col">{{index_currency.code}}</td>
              <td *ngFor = "let currency of chosen_currencies"> {{ getRate(index_currency, currency) |  number : '1.2-3' }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
