<div class="container">
  <div class = "row">
    <div class = "one column"></div>
    <div class = "eleven columns" id="subtitle">
      <h3>Five top conversion rates:</h3>
    </div>
  </div>
  <div class = "row">
    <div class = "one column"></div>
    <div class = "eleven columns" id="table">
      <table class="u-full-width">
        <thead>
          <th>To\From</th>
          <th>USD</th>
          <th>EUR</th>
          <th>GBP</th>
          <th>INR</th>
          <th>CAD</th>
        </thead>
        <tbody>
          <tr>
            <td class="index-col">USD</td>
          </tr>
          <tr>
            <td class="index-col">EUR</td>
          </tr>
          <tr>
            <td class="index-col">GBP</td>
          </tr>
          <tr>
            <td class="index-col">INR</td>
          </tr>
          <tr>
            <td class="index-col">CAD</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
