<div class="container">
  <div class="row">
    <!-- This row holds the title element -->
    <div class="one column"></div>
    <div class="eleven columns" id="title-holder-div"><h1>{{ title }}</h1></div>
    <div class="one column"></div>
  </div>
  <div class="row">
    <!-- This row contains the text that follows the title element. -->
    <div class="one column"></div>
    <div class="eleven columns" id="subtitle-holder-div">
      This is a very simple to use currency converter, doing what a currency converter must do.
      <br />Except this one keeps updating itself using an RSS feed. Cause hey, who likes a currency converter who uses rates of the past?
      <br />Furthermore, there's a table below which shows the rates of the 5 most widely used currencies and another one below it which shows the rates of your selected currency compared to all the currencies in the world.
      <br /><br />So, you never, ever miss out on anything.
    </div>
    <div class="one column"></div>
  </div>
</div>
