<meta charset=utf-8 />
<app-landing-page></app-landing-page>
<div class="container" id="converter-container">
  <div class="row" id="source-curr-row">
    <div class="one column"></div>
    <!-- This is where the input for the source currency will be taken in. -->
    <div class="five columns">
      <label for="source-currency">Convert from:</label>
      <select class="u-full-width" id="source-currency" [(ngModel)]="s_c_curr" (ngModelChange)="convertValue()">
        <option *ngFor="let currency of currencies" [ngValue]="currency">{{ currency.name }} ({{ currency.code }})</option>
      </select>
    </div>
    <div class="five columns">
      <label for="source-currency-value">Value:</label>
      <input class="u-full-width" id="source-currency-value" [(ngModel)]="this.s_c_value" (ngModelChange)="convertValue()" type="number" placeholder="0.0"/>
    </div>
    <div class="one column"></div>
  </div>
  <div class="row" id="switch-button-row">
    <div class="one column"></div>
    <!-- This is where the button will be placed. This button will switch the two currencies. -->
    <div class="ten columns">
      <input class="button-primary" id="switch-button" (click)="switchCurrencies()" type="button" value="&uarr; &darr;">
    </div>
    <div class="one column"></div>
  </div>
  <div class="row" id="dest-curr-row">
    <div class="one column"></div>
    <!-- This is where the input for the destination(lack of a better word) currency will be taken in. -->
    <div class="five columns">
      <label for="dest-currency">Convert to:</label>
      <select class="u-full-width" id="dest-currency" [(ngModel)]="d_c_curr" (ngModelChange)="convertValue()">
        <option *ngFor="let currency of currencies" [ngValue]="currency">{{ currency.name }} ({{ currency.code }})</option>
      </select>
    </div>
    <div class="five columns">
      <label for="dest-currency-value">Converted value:</label>
      <input class="u-full-width" id="dest-currency-value" [(ngModel)]="d_c_value" type="number" readonly/>
    </div>
    <div class="one column"></div>
  </div>
</div>
