<div class="container">
  <div class="row">
    <div class="one column"></div>
    <div class="eleven columns" id="curr-wiki-div">
      <span id="currency-wiki-title"><h2>Welcome to Currency.wiki!</h2></span>
      Here, you can find details about all currencies, including their ISO codes, the frequent and rare bank notes, their major and minor currency names. So on and so forth.
      <br /><br />
      So, on you go!
      <!-- <div>
        <label class="u-full-width" for="source-currency">Currency:</label>
      </div>
      <div>
        <select class="u-full-width" id="source-currency">
          <option>AAA</option>
        </select>
      </div> -->
    </div>
  </div>
  <div class="row" id="curr-wiki-choose-div">
    <div class="one column"></div>
    <div class="one column" id="curr-wiki-label-div">
      <label class="u-full-width" for="source-currency">Currency:</label>
    </div>
    <div class="ten columns">
      <select class="u-full-width" id="source-currency">
        <option>AAA</option>
      </select>
    </div>
  </div>
</div>