<div class="container">
    <div class="row">
        <div class="one column"></div>
        <div class="eleven columns" id="title-holder-div"><h1>{{ title }}</h1></div>
    </div>
    <div class="row">
        <div class="one column"></div>
        <div class="eleven columns">
            <ul>
                <li><a href="/converter">Converter</a></li>
                <li><a href="/historic-rates">Historic rates</a></li>
                <li><a href="/five-top-rates">Five Top Conversions</a></li>
                <li><a href="/wikicurrency">Currency.wiki</a></li>
                <li><a href="/devs">Developers</a></li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
